<p id="notice"><%= notice %></p>

<h1>Listing Tuesdays</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Date</th>
      <th>Entry</th>
      <th>Affirmation</th>
      <th>Moon sign</th>
      <th>Theme</th>
      <th>Number 1</th>
      <th>Number 2</th>
      <th>Number 3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuesdays.each do |tuesday| %>
      <tr>
        <td><%= tuesday.issue_id %></td>
        <td><%= tuesday.date %></td>
        <td><%= tuesday.entry %></td>
        <td><%= tuesday.affirmation %></td>
        <td><%= tuesday.moon_sign %></td>
        <td><%= tuesday.theme %></td>
        <td><%= tuesday.number_1 %></td>
        <td><%= tuesday.number_2 %></td>
        <td><%= tuesday.number_3 %></td>
        <td><%= link_to 'Show', tuesday %></td>
        <td><%= link_to 'Edit', edit_tuesday_path(tuesday) %></td>
        <td><%= link_to 'Destroy', tuesday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tuesday', new_tuesday_path %>
