<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @tuesday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tuesday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @tuesday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @tuesday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @tuesday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @tuesday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @tuesday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @tuesday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @tuesday.number_3 %>
</p>

<%= link_to 'Edit', edit_tuesday_path(@tuesday) %> |
<%= link_to 'Back', tuesdays_path %>
