<p id="notice"><%= notice %></p>

<h1>Listing Saturdays</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Date</th>
      <th>Entry</th>
      <th>Affirmation</th>
      <th>Moon sign</th>
      <th>Theme</th>
      <th>Number 1</th>
      <th>Number 2</th>
      <th>Number 3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saturdays.each do |saturday| %>
      <tr>
        <td><%= saturday.issue_id %></td>
        <td><%= saturday.date %></td>
        <td><%= saturday.entry %></td>
        <td><%= saturday.affirmation %></td>
        <td><%= saturday.moon_sign %></td>
        <td><%= saturday.theme %></td>
        <td><%= saturday.number_1 %></td>
        <td><%= saturday.number_2 %></td>
        <td><%= saturday.number_3 %></td>
        <td><%= link_to 'Show', saturday %></td>
        <td><%= link_to 'Edit', edit_saturday_path(saturday) %></td>
        <td><%= link_to 'Destroy', saturday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saturday', new_saturday_path %>
