<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @saturday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @saturday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @saturday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @saturday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @saturday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @saturday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @saturday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @saturday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @saturday.number_3 %>
</p>

<%= link_to 'Edit', edit_saturday_path(@saturday) %> |
<%= link_to 'Back', saturdays_path %>
