<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @sidebar.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sidebar.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sidebar.image %>
</p>

<%= link_to 'Edit', edit_sidebar_path(@sidebar) %> |
<%= link_to 'Back', sidebars_path %>
