<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @wednesday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @wednesday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @wednesday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @wednesday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @wednesday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @wednesday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @wednesday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @wednesday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @wednesday.number_3 %>
</p>

<%= link_to 'Edit', edit_wednesday_path(@wednesday) %> |
<%= link_to 'Back', wednesdays_path %>
