<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @thursday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @thursday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @thursday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @thursday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @thursday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @thursday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @thursday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @thursday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @thursday.number_3 %>
</p>

<%= link_to 'Edit', edit_thursday_path(@thursday) %> |
<%= link_to 'Back', thursdays_path %>
