<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @monday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @monday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @monday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @monday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @monday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @monday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @monday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @monday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @monday.number_3 %>
</p>

<%= link_to 'Edit', edit_monday_path(@monday) %> |
<%= link_to 'Back', mondays_path %>
