<div class="well">
  <p class="text-muted">Added by <strong><%= comment.author %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <p><%= comment.body %></p>
    <p>
    	<%= link_to post_comment_like_path(:post_id => comment.post_id,
    :id => comment.id, :comment_id => comment.id), class: 'like', method: :put, remote: true, data: { type: :json } do %>
		  Like
		  <% end %>
			<span id="likes_<%= comment.id %>" class="badge"><%= comment.likes %></span>
	</p>
  </blockquote>

  <% from_reply_form ||= nil %>
	<% unless from_reply_form %>
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" 
		          href="#collapse<%= comment.id %>">
		          Click to reply
		        </a>
		      </h4>
		    </div>
		    <div id="collapse<%= comment.id%>" class="panel-collapse collapse">
		      <div class="panel-body">
		          <%= form_for [@post, @post.comments.new] do |f| %>
		            <% if @post.comments.new.errors.any? %>
		              <div class="alert alert-danger">
		                <h4>There are <%= pluralize(@post.errors.count, "error") %>.</h4>
		                <ul>
		                  <%= @post.comments.new.errors.full_messages.each do |msg| %>
		                  <li><%= msg %></li>
		                  <% end %>
		                </ul>
		              </div>
		            <% end %>
		            <%= f.hidden_field :parent_id, :value => comment.id %>
		            <%= f.hidden_field :post_id %>

		            <%= f.label :author, "Name" %><br />
		            <%= f.text_field :author, class: 'form-control' %><br />
		            <%= f.label :link, "Link (optional)" %><br />
		            <%= f.text_field :link, class: 'form-control' %><br />
		            <%= f.label :body %>
		            <%= f.text_area :body, rows: 1, class: 'form-control', placeholder: "Enter comment body" %>
		            <div class="actions">
		              <%= f.submit "Submit Comment", class: 'btn btn-default' %>
		            </div>
		          <% end %>
		      </div>
		    </div>
		  </div> 
		</div>
	<% end %>
</div>

<script>
    $('.like')
  .on('ajax:send', function () { $(this).addClass('loading'); })
  .on('ajax:complete', function () { $(this).removeClass('loading'); })
  .on('ajax:error', function () { $(this).after('<div class="error">There was an issue.</div>'); })
  .on('ajax:success', function(e, data, status, xhr) { 
  	$(this).html("Thank you for voting!"); 
  	$('#likes_'+data.id).html(data.count); 
	});
</script>