<h2><%= day %></h2>
<span class="date"><%= date %></span>

<div class="line"></div>
<p><%= entry %></p>

<div class="moontheme">
	<p><span><<< MOON >>></span><br /><span class="theme-width"><%= moon %></span></p>
	<p class="pull-right"><span><<< THEME >>></span><br /><span class="theme-width"><%= theme %></span></p>
</div>

<div class="visible-xs visible-sm" style="clear: both; height: 40px;"></div>

<hr class="gold-line" style="clear: both;"/>

<div class="key">
	<%= image_tag("numerology.png", :border => 0, :alt => "Aquarius Nation", :style => 'margin-top: -100px; width: 200px; z-index: 2;') %>

	<h4>NUMEROLOGY VIBRATION</h4>
	<h5>
		<%= raw('<span>' + number_1.to_s + '</span>') if number_1.present? %>
		<%= raw('<span>' + number_2.to_s + '</span>') if number_2.present? %>
		<%= raw('<span>' + number_3.to_s + '</span>') if number_3.present? %>
	</h5>
	<div class="text-center">
	<p class="number"><span><%= number_1.to_s + ': ' if number_1.present? %></span>
	 <%= Number.find(number_1).meaning if number_1.present? %> 
	</p>	
	<p class="number"><span><%= number_2.to_s + ': ' if number_2.present? %></span>
	 <%= Number.find(number_2).meaning if number_2.present? %> 
	</p>	
	<p class="number"><span><%= number_3.to_s + ': ' if number_3.present? %></span>
	 <%= Number.find(number_3).meaning if number_3.present? %> 
	</p>
	</div>	
</div>

<div class="text-center">
<%= image_tag(mantra, :border => 0, :alt => "Aquarius Nation", :style => 'width: 100%;') if !mantra.include?("missing.png") %>
</div>

<!-- <div class="affirmation">
	<%# image_tag("AN_Logo.png", :border => 0, :alt => "Aquarius Nation") %>
	
	<div class="text"><%= affirmation %></div>

	<h4>#MOONVIBETRIBE</h4>

	<%# image_tag(symbol, :class => 'symbol', :alt => "Aquarius Nation") %>
</div> -->