<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_number %><br>
    <%= f.text_field :issue_number %>
  </div>
  <div class="field">
    <%= f.label :week %><br>
    <%= f.text_field :week %>
  </div>
  <div class="field">
    <%= f.label :main_image %><br>
    <%= f.text_field :main_image %>
  </div>
  <div class="field">
    <%= f.label :moon_phase %><br>
    <%= f.text_field :moon_phase %>
  </div>
  <div class="field">
    <%= f.label :welcome %><br>
    <%= f.text_area :welcome %>
  </div>
  <div class="field">
    <%# f.label :sidebar_id %><br>
    <%# f.number_field :sidebar_id %>
    <%= f.label "Sidebar" %><br>
    <ul>
    <%= f.fields_for :sidebars do |sidebars_form| %>
      <li>
        <%= sidebars_form.check_box :_destroy%>
        <%= sidebars_form.label :title %>
        <%= sidebars_form.text_field :title %>
 
        <%= sidebars_form.label :link %>
        <%= sidebars_form.text_field :link %>
        ...
      </li>
    <% end %>
  </ul>
  </div>
  <div class="field">
    <%= f.label :monday_id %><br>
    <%= f.number_field :monday_id %>
  </div>
  <div class="field">
    <%= f.label :tuesday_id %><br>
    <%= f.number_field :tuesday_id %>
  </div>
  <div class="field">
    <%= f.label :wednesday_id %><br>
    <%= f.number_field :wednesday_id %>
  </div>
  <div class="field">
    <%= f.label :thursday_id %><br>
    <%= f.number_field :thursday_id %>
  </div>
  <div class="field">
    <%= f.label :friday_id %><br>
    <%= f.number_field :friday_id %>
  </div>
  <div class="field">
    <%= f.label :saturday_id %><br>
    <%= f.number_field :saturday_id %>
  </div>
  <div class="field">
    <%= f.label :sunday_id %><br>
    <%= f.number_field :sunday_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br /><br />
<% end %>
