<%= simple_form_for @issue, html: { multipart: true, :novalidate => true } do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Issue #{}" %><br>
    <%= f.number_field :issue_number %>
  </div>
  <div class="field">
    <%= f.label "Week" %><small> eg. November 14 - 20</small><br>
    <%= f.text_field :week %>
  </div>
  <div class="field">
    <%= f.label "Image" %><br>
    <%= f.file_field :main_image %>
    <%= image_tag @issue.main_image.url(:thumb) %>
  </div>
  <div class="field">
    <%= f.label "Theme for Moon phase" %><br>
    <%= f.select :moon_phase, 
        options_for_select($themes, {:selected => @issue.moon_phase})
    %>
  </div>
  <div class="field">
    <%= f.input :welcome, as: :summernote %>  
  </div>
  <div class="field">
    <%= f.label "Sidebar" %><br>
    <table class="table">
    <%= f.fields_for :sidebars do |sidebars_form| %>
      <tr>
        <td>
          <%= sidebars_form.label "Label" %>
          <%= sidebars_form.text_field :title %>
        </td>
 
        <td>
          <%= sidebars_form.label "Link" %>
          <%= sidebars_form.text_field :link %>
          <span - OR - </span>
        </td>
        <td>
          <%= sidebars_form.label "Link (within site)" %>
          <%= sidebars_form.select :podcast_link_id, 
              options_for_select(Podcast.all.collect {|p| [ p.title, p.id ]}, {:selected => sidebars_form.object.podcast_link_id}), :include_blank => true
          %>
        </td>
        <td>
          <%= sidebars_form.label "DELETE" %>
          <%= sidebars_form.check_box :_destroy%>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <hr />
  
  <%= render partial: 'monday', locals: { f: f } %>
  <hr />
  <%= render partial: 'tuesday', locals: { f: f } %>
  <hr />
  <%= render partial: 'wednesday', locals: { f: f } %>
  <hr />
  <%= render partial: 'thursday', locals: { f: f } %>
  <hr />
  <%= render partial: 'friday', locals: { f: f } %>
  <hr />
  <%= render partial: 'saturday', locals: { f: f } %>
  <hr />
  <%= render partial: 'sunday', locals: { f: f } %>

  
  <div class="actions">
    <%= f.submit "Save", :class => 'btn btn-default'%>
  </div>

<% end %>