<div class="col-xs-12 current_issue">
  <div class="container"></div>
</div>
<div class="col-xs-12">
  <div class="container text-center">
    <h4 class="bold-gold" style="padding: 10px 0;">Issue <%= @issue.issue_number %> <%= @issue.week %><h4>
  </div>
</div>



<div class="container-fluid" id="scroll-window">

  <ul class="nav nav-tabs responsive-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#monday-day" aria-controls="monday-day" role="tab" data-toggle="tab">Monday</a></li>
    <li role="presentation"><a href="#tuesday-day" aria-controls="tuesday-day" role="tab" data-toggle="tab">Tuesday</a></li>
    <li role="presentation"><a href="#wednesday-day" aria-controls="wednesday-day" role="tab" data-toggle="tab">Wednesday</a></li>
    <li role="presentation"><a href="#thursday-day" aria-controls="settings" role="tab" data-toggle="tab">Thursday</a></li>
    <li role="presentation"><a href="#friday-day" aria-controls="settings" role="tab" data-toggle="tab">Friday</a></li>
    <li role="presentation"><a href="#saturday-day" aria-controls="settings" role="tab" data-toggle="tab">Saturday</a></li>
    <li role="presentation"><a href="#sunday-day" aria-controls="settings" role="tab" data-toggle="tab">Sunday</a></li>
  </ul>

  <hr class="gold-line" />

  <div class="container" id="issue_container">

    <% if @issue.sidebars.present? %>
      <div id="sidebar" class="visible-sm visible-md visible-lg col-sm-4 col-md-3 col-xl-2 pull-left">
        <% @issue.sidebars.each do |item| %>
          
          <% if item.link.blank? %>
              <%= link_to moonvibeguide_reading_path(item.podcast_link_id), class: 'moon-btn pull-left' do %>
                <span><%= item.title %></span>
              <% end %>
          <% else %>
            <%= link_to item.link, target: '_blank', class: 'moon-btn pull-left' do %>
              <span><%= item.title %></span>
            <% end %>
          <% end %>

        <% end %>
      </div>
    <% end %>
      
  <% if @issue.sidebars.present? %>
    <div class="tab-content col-xs-12 col-sm-8 col-md-9 col-xl-10 pull-right days">
  <% else %>
    <div class="tab-content col-xs-12 days">
  <% end %>
      <a href="javascript:print()" class="print pull-right"><i class="fa fa-print" aria-hidden="true"></i> Print this guide</a>

      <div class="tab-pane active collapse in" id="monday-day">
        <% if !@issue.monday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Monday', date: @issue.monday.date, entry: @issue.monday.entry.html_safe, moon: @issue.monday.moon_sign, theme: @issue.monday.theme, number_1: @issue.monday.number_1, number_2: @issue.monday.number_2, number_3: @issue.monday.number_3, affirmation: @issue.monday.affirmation.html_safe, mantra: @issue.monday.mantra.url(:thumb) } %>
        <% end %>
      </div>

      <div class="tab-pane" id="tuesday-day">
        <% if !@issue.tuesday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Tuesday', date: @issue.tuesday.date, entry: @issue.tuesday.entry.html_safe, moon: @issue.tuesday.moon_sign, theme: @issue.tuesday.theme, number_1: @issue.tuesday.number_1, number_2: @issue.tuesday.number_2, number_3: @issue.tuesday.number_3, affirmation: @issue.tuesday.affirmation.html_safe, mantra: @issue.tuesday.mantra.url(:thumb) } %>
        <% end %>
      </div>

      <div class="tab-pane" id="wednesday-day">
        <% if !@issue.wednesday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Wednesday', date: @issue.wednesday.date, entry: @issue.wednesday.entry.html_safe, moon: @issue.wednesday.moon_sign, theme: @issue.wednesday.theme, number_1: @issue.wednesday.number_1, number_2: @issue.wednesday.number_2, number_3: @issue.wednesday.number_3, affirmation: @issue.wednesday.affirmation.html_safe, mantra: @issue.wednesday.mantra.url(:thumb) } %>
        <% end %>
      </div>

      <div class="tab-pane" id="thursday-day">
        <% if !@issue.thursday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Thursday', date: @issue.thursday.date, entry: @issue.monday.entry.html_safe, moon: @issue.monday.moon_sign, theme: @issue.thursday.theme, number_1: @issue.thursday.number_1, number_2: @issue.thursday.number_2, number_3: @issue.thursday.number_3, affirmation: @issue.thursday.affirmation.html_safe, mantra: @issue.thursday.mantra.url(:thumb) } %>
        <% end %>
      </div>

      <div class="tab-pane" id="friday-day">
        <% if !@issue.friday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Friday', date: @issue.friday.date, entry: @issue.monday.entry.html_safe, moon: @issue.monday.moon_sign, theme: @issue.friday.theme, number_1: @issue.friday.number_1, number_2: @issue.friday.number_2, number_3: @issue.friday.number_3, affirmation: @issue.friday.affirmation.html_safe, mantra: @issue.friday.mantra.url(:thumb) } %>
        <% end %>
      </div>

      <div class="tab-pane" id="saturday-day">
        <% if !@issue.saturday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Saturday', date: @issue.saturday.date, entry: @issue.monday.entry.html_safe, moon: @issue.monday.moon_sign, theme: @issue.saturday.theme, number_1: @issue.saturday.number_1, number_2: @issue.saturday.number_2, number_3: @issue.saturday.number_3, affirmation: @issue.saturday.affirmation.html_safe, mantra: @issue.saturday.mantra.url(:thumb) } %>
        <% end %>
      </div>

      <div class="tab-pane" id="sunday-day">
        <% if !@issue.sunday.nil? %>
          <%= render partial: "/issues/day", locals: {day: 'Sunday', date: @issue.sunday.date, entry: @issue.sunday.entry.html_safe, moon: @issue.sunday.moon_sign, theme: @issue.sunday.theme, number_1: @issue.sunday.number_1, number_2: @issue.sunday.number_2, number_3: @issue.sunday.number_3, affirmation: @issue.sunday.affirmation.html_safe, mantra: @issue.sunday.mantra.url(:thumb) } %>
        <% end %>
      </div>
  

      <ul class="pager">
        <li class="pull-left">
          <%= link_to moonvibeguide_issue_path(@prev_issue) do %>
              <i class="fa fa-angle-left"></i> Previous Issue
          <% end %>
        </li>
        <li class="pull-right">
          <%= link_to moonvibeguide_issue_path(@next_issue) do %>
              Next Issue <i class="fa fa-angle-right"></i>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>