<h2><%= f.label "Monday" %></h2>
  <%= f.simple_fields_for :monday do |monday_form| %>
  <div class="field">
    <%= monday_form.label "Date" %><small> eg. November 14</small><br />
    <%= monday_form.text_field :date %>
  </div>
  <div class="field">
    <%= monday_form.input :entry, as: :summernote %>  
  </div>
  <div class="field">
    <%= monday_form.label "Mantra" %><br>
    <%= monday_form.file_field :mantra %>
    <%= image_tag @issue.monday.mantra.url(:thumb)  %>
  </div>
 <!--  <div class="field">
    <%# monday_form.input :affirmation, as: :summernote %> 
  </div> -->
  <div class="field">
    <%= monday_form.label "Moon in" %><br />
    <%= monday_form.select :moon_sign, 
        options_for_select($signs, {:selected => @issue.monday.moon_sign})
    %>
  </div>
  <div class="field">
    <%= monday_form.label "Theme for Moon phase" %><br />
    <%= monday_form.select :theme, 
        options_for_select($themes, {:selected => @issue.monday.theme})
    %>
  </div>
  <div class="field">
    <%= monday_form.label "Numerology Vibration #1" %>
    <%= monday_form.select :number_1, 
        options_for_select(Number.all.collect {|n| [ n.number.to_s + ": " + n.meaning, n.id ] }, {:selected => @issue.monday.number_1})
    %>
  </div>
  <div class="field">
    <%= monday_form.label "Numerology Vibration #2" %>
    <%= monday_form.select :number_2, 
        options_for_select(Number.all.collect {|n| [ n.number.to_s + ": " + n.meaning, n.id ] }, {:selected => @issue.monday.number_2}), {include_blank: true}
    %>
  </div>
  <div class="field">  
    <%= monday_form.label "Numerology Vibration #3" %>
    <%= monday_form.select :number_3, 
        options_for_select(Number.all.collect {|n| [ n.number.to_s + ": " + n.meaning, n.id ] }, {:selected => @issue.monday.number_3}), {include_blank: true}
    %>
  </div>
<% end %>
