  
  <h2><%= f.label "Thursday" %></h2>
    <%= f.simple_fields_for :thursday do |thursday_form| %>
    <div class="field">
      <%= thursday_form.label "Date" %><small> eg. November 14</small><br />
      <%= thursday_form.text_field :date %>
    </div>
    <div class="field">
      <%= thursday_form.input :entry, as: :summernote %>
    </div>
    <div class="field">
      <%= thursday_form.input :affirmation, as: :summernote %>
    </div>
    <div class="field">
      <%= thursday_form.label "Moon in" %><br />
      <%= thursday_form.select :moon_sign, 
          options_for_select($signs, {:selected => @issue.thursday.moon_sign})
      %>
    </div>
    <div class="field">
      <%= thursday_form.label "Theme for Moon phase" %><br />
      <%= thursday_form.select :theme, 
          options_for_select($themes, {:selected => @issue.thursday.theme})
      %>
    </div>
    <div class="field">
      <%= thursday_form.label "Numerology Vibration #1" %>
      <%= thursday_form.select :number_1, 
          options_for_select(Number.all.collect {|n| [ n.number.to_s + ": " + n.meaning, n.id ] }, {:selected => @issue.thursday.number_1})
      %>
    </div>
    <div class="field">
      <%= thursday_form.label "Numerology Vibration #2" %>
      <%= thursday_form.select :number_2, 
          options_for_select(Number.all.collect {|n| [ n.number.to_s + ": " + n.meaning, n.id ] }, {:selected => @issue.thursday.number_2}), {include_blank: true}
      %>
    </div>
    <div class="field">  
      <%= thursday_form.label "Numerology Vibration #3" %>
      <%= thursday_form.select :number_3, 
          options_for_select(Number.all.collect {|n| [ n.number.to_s + ": " + n.meaning, n.id ] }, {:selected => @issue.thursday.number_3}), {include_blank: true}
      %>
    </div>
  <% end %>
