<p id="notice"><%= notice %></p>

<p>
  <strong>Issue number:</strong>
  <%= @issue.issue_number %>
</p>

<p>
  <strong>Week:</strong>
  <%= @issue.week %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @issue.main_image.url(:thumb) %>
</p>

<p>
  <strong>Moon phase:</strong>
  <%= @issue.moon_phase %>
</p>

<p>
  <strong>Welcome:</strong>
  <%= @issue.welcome %>
</p>

<p>
  <strong>Sidebar:</strong>
  <% @issue.sidebars.each do |sidebar_item| %>
    <%= sidebar_item.title %>
  <% end %>
</p>



<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
