<div class="container">
  <div class="row">
    <div class="login-form">
      <h2 class="text-center">Join the Tribe</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>

        <%= f.input :email, autofocus: true, placeholder: 'your@email.com', label: 'Email' %>

        <%= f.input :password, autocomplete: "off", placeholder: 'password', label: 'Password' %>
        <%= f.input :password_confirmation, autocomplete: "off", placeholder: 'confirm password', label: 'Confirm Password' %>

        <div class="actions text-center">
        <%= f.submit "Join", class: 'btn btn-default' %>
      </div>
      <% end %>

    </div>
  </div>
</div>
