<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @friday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @friday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @friday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @friday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @friday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @friday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @friday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @friday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @friday.number_3 %>
</p>

<%= link_to 'Edit', edit_friday_path(@friday) %> |
<%= link_to 'Back', fridays_path %>
