<p id="notice"><%= notice %></p>

<h1>Listing Podcast Details</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Link</th>
      <th>Reading</th>
      <th>Podcast</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @podcast_details.each do |podcast_detail| %>
      <tr>
        <td><%= podcast_detail.title %></td>
        <td><%= podcast_detail.image %></td>
        <td><%= podcast_detail.link %></td>
        <td><%= podcast_detail.reading %></td>
        <td><%= podcast_detail.podcast_id %></td>
        <td><%= link_to 'Show', podcast_detail %></td>
        <td><%= link_to 'Edit', edit_podcast_detail_path(podcast_detail) %></td>
        <td><%= link_to 'Destroy', podcast_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podcast detail', new_podcast_detail_path %>
