<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast_detail.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @podcast_detail.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @podcast_detail.link %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @podcast_detail.reading %>
</p>

<p>
  <strong>Podcast:</strong>
  <%= @podcast_detail.podcast_id %>
</p>

<%= link_to 'Edit', edit_podcast_detail_path(@podcast_detail) %> |
<%= link_to 'Back', podcast_details_path %>
