<div class="welcome">
	<div id="home_header" class="col-xs-12">
		<%= image_tag('home_header.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
	</div>
	<div class="col-xs-12">
		<div class="container">
			<div class="row manifesto">
				<h4 class="text-center">A PLACE FOR THE RAINBOW TRIBE</h4>
				<h4 class="text-center">WHO ARE WAKING UP</h4>
				<h4 class="text-center">AND ALIGNING</h4>
				<h4 class="text-center">TO THE AGE OF AQUARIUS</h4>
				<h4 class="text-center">TO BRING LOVE AND HEALING TO THE PLANET</h4>

				<p class="text-center"><%= image_tag('top_symbol.png', width: 100) %></p>

			</div>
		</div>
	</div>
	<div class="purple-bg moonplanner">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="moonplanner">
						<div class="hidden-xs col-sm-5">
							<div class="thumbnail">
								<%= link_to image_tag('moonplanner.png'), "" %>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-sm-offset-1">
							<h4>MOON PLANNER <br /> 2017</h4>
							<p>Aquarius Nation &amp; Star Mandalas<br />
							 Bringing you a 2017<br />
							 energetic forecast</p>
							<%= link_to "READ MORE", "", class: "btn btn-default an-btn" %>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="container">
			<div class="row text-center daily">
				<%= image_tag('daily_readings_symbol.png', width: 100, style: 'padding-bottom: 30px;') %>

	    	<h2>DAILY MOON VIBE READING</h2>
	    	<h4><span class="emph-day"><%= Date.today.strftime('%A') %></span><%= Date.today.strftime('%-d %B %Y') %></h4>

				<% 
		  		if @daily_reading_text.present? 
		  		  @daily_reading_text = strip_tags(@daily_reading.body).truncate_words(193).split(/[^'\w^.\w^,\w^!\w^?\w]+/).in_groups(2)

			      @daily_para_1 = @daily_reading_text[0].join(' ').to_s 
			      @daily_para_2 = @daily_reading_text[1].join(' ').to_s
			    end
			  %>

				<div class="entry col-xs-12 col-md-6 text-left">
					<%= @daily_para_1.to_s  if @daily_para_1.present? %>
				</div>

				<div class="entry col-xs-12 col-md-6 text-left">
					<%= @daily_para_2.to_s  if @daily_para_2.present? %>
				</div>

				
			</div>
		</div>
	</div>
	<div class="text-center">
		<div class="readmore">
			<%= link_to 'READ MORE', post_path(daily), class: 'btn btn-default an-btn ' if !daily.nil? %>
		</div>
	</div>

	<div class="purple-bg moonvibetribe">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<h3 class="text-center">MOON VIBE TRIBE</h3>
					<div class="entry col-xs-12 col-md-6 text-left">
						Big days of transformation are before us! Like REALLY BIG!! I am feeling a VERY inspired energy rolling through today where we fully separate from old paths that defined our way of being and how we chose to move through life. We are DONE and this is NOT just talk.
					</div>

					<div class="entry col-xs-12 col-md-6 text-left">
						Big days of transformation are before us! Like REALLY BIG!! I am feeling a VERY inspired energy rolling through today where we fully separate from old paths that defined our way of being and how we chose to move through life. We are DONE and this is NOT just talk.
					</div>
					<div class="entry col-xs-12 col-md-6 text-center button">
						<%= link_to "LOG IN", login_path, class: "btn btn-default an-btn" %>
					</div>
					<div class="entry col-xs-12 col-md-6 text-center button">
						<%= link_to "READ MORE", moonvibeguide_path, class: "btn btn-default an-btn" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container about">
			<div class="row">
				
				<div class="col-xs-12 col-sm-6">
					<h4 class="text_center">ABOUT KV</h4>
					<p class="entry"><%= strip_tags(@about.body).truncate_words(105) if @about.present? %></p>
					<p class="text_center"><%= link_to "CONTINUE", page_path(about), class: "btn btn-default an-btn" if @about.present? %></p>
				</div>
				<div class="hidden-xs col-sm-6">
					<%= image_tag 'about.png', style: 'display: inline; width: 115px; float: left; padding-right: 20px; margin-top: -40px;'%>
					<div class="thumbnail">
						<%= image_tag @about.main_image.url(:thumb) if @about.present?%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="purple-bg ">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="birthchart">	
						<div class="hidden-xs col-xs-12 col-sm-5">
							<div class="thumbnail">
								<%= link_to image_tag('birthchart.png'), "http://eepurl.com/cc--Sb" %>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-sm-offset-1">
							<h4>BIRTH CHART BOOKS</h4>
							<p>sign up below to be notified<br />
							 when birth chart sales<br />
							 commence again.</p>
							<%= link_to "SIGN UP", "http://eepurl.com/cc--Sb", class: "btn btn-default an-btn" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container">
			<div class="row text-center latestvideo">
				<h4>WATCH THE LATEST ENERGY UPDATE</h4>

				<div class="videoholder">
					<div class="videoborder">
						<div class="embed-responsive embed-responsive-16by9">
						  <%= @video.embed_code.html_safe if @video.present? %>
						</div>
					</div>				
				</div>

				<a href="https://www.youtube.com/user/aquariusnation1111" target="_blank">For more video readings, follow <br />KV's YouTube channel <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>

	<div class="purple-bg">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="apothecary">
						<div class="col-xs-12 col-sm-5">
							<h4>AQUARIUS NATION APOTHECARY</h4>
							<p>Highest Quality Ingredients ALWAYS<br />  
								Made with LOVE &amp; Healing Intentions in Santa Fe,<br />
								New Mexico by ROSIE RENARD</p>
							<%= link_to "SHOP NOW", "http://www.shopify.com", class: "btn btn-default an-btn" %>
						</div>
						<div class="hidden-xs col-sm-5 col-sm-offset-1">
							<div class="thumbnail">
								<%= link_to image_tag('apothecary.png'), "http://www.shopify.com" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container">
			<div class="row text-center latestitems">
				<h3>LATEST FROM AQUARIUS NATION</h3>
				<div class="container">
					<% @latest_items.each do |latest_item| 
						@button = !latest_item.button_text.blank? ? latest_item.button_text : 'READ MORE'
					%>
						<div class="col-xs-12 col-sm-4">
							<%= link_to image_tag(latest_item.image.url(:thumb)), latest_item.link, class: 'shop-img' %>
							<h4><%= link_to latest_item.title, latest_item.link, class: 'shop-title' %></h4>
							<%= link_to @button, latest_item.link, class: 'btn btn-default an-btn' %>
						</div>

					<% end %>
				</div>

				<div class="row text-center insta">
					<h5>CONNECT WITH AQ</h5>
					<div class="container">
						<% @insta.take(4).each do |insta| %>
						  <div class="col-xs-6 col-sm-3">
						    <div class="thumbnail">
						      <a href="<%= insta.link %>" target="_blank">
						      	<%= image_tag insta.images.thumbnail.url %>
						      </a>
						    </div>
						  </div>
						<% end %>

						
					</div>
					<div class="connect">
						<a href="https://www.facebook.com/aquariusnationastrology" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="https://www.youtube.com/user/aquariusnation1111" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/aquariusnation/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="https://plus.google.com/118294992650915534853" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="purple-bg">
		<div class="col-xs-12">
			<div class="container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container">
			<div class="row text-center testimonials">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
					  <ol class="carousel-indicators">
					  	<% @testimonials.each_with_index do |testimonial, index| %>
					  		<% if index == 0 %>
					        <li data-target="#myCarousel" data-slide-to="<%= index %>" class="active"></li>
					     	<% else %>
									<li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
					     	<% end %>
					    <% end %>
					  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				  	 <% @testimonials.each_with_index do |testimonial, index| %>

				  	 	<% if index == 0 %>
			          <div class="item active">
			       	<% else %>
								<div class="item">
			       	<% end %>
			          	
			          	<% if testimonial.image.present? %>
			          		<div class="hidden-xs col-sm-3 pic">
			          			<div class="thumbnail">
			           				<%= image_tag(testimonial.image.url(:thumb), class: 'testimonial-img') %>
			           			</div>
			           		</div>
			           		<div class="col-xs-12 col-sm-9">
			           			<h3><%= testimonial.title %></h3>
			          			<%= strip_tags(testimonial.body) %>
			          		</div>
			          	<% else %>
										<div class="col-xs-12">
											<h3><%= testimonial.title %></h3>
			          			<%= strip_tags(testimonial.body) %>
			          		</div>
			          	<% end %>
			          </div>
			      <% end %>
			     
				  </div>


				</div>
			</div>
		</div>
	</div>
</div>
