<div class="container">
  <h1>Listing Latest Items</h1>

  <%= link_to 'New Latest item', new_latest_item_path, class: 'btn btn-default' %>


  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Show</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @latest_items.each do |latest_item| %>
        <tr>
          <td><%= latest_item.title %></td>
          <td><%= latest_item.link %></td>
          <td><%= latest_item.show %></td>
          <td><%= image_tag(latest_item.image.url(:thumb)) %>
</td>
          <td><%= link_to 'Show', latest_item %></td>
          <td><%= link_to 'Edit', edit_latest_item_path(latest_item) %></td>
          <td><%= link_to 'Delete', latest_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



