<div class="container">
	<div class="row">
		<p>
		  <strong>Title:</strong>
		  <%= @latest_item.title %>
		</p>

		<p>
		  <strong>Link:</strong>
		  <%= @latest_item.link %>
		</p>

		<p>
		  <strong>Show:</strong>
		  <%= @latest_item.show %>
		</p>

		<p>
		  <strong>Button Text:</strong>
		  <%= @latest_item.button_text %>
		</p>

		<p>
		  <strong>Image:</strong>
	  	<div class="thumbnail"><%= image_tag(@latest_item.image.url(:thumb)) %></div>
		</p>

		<%= link_to 'Edit', edit_latest_item_path(@latest_item) %> |
		<%= link_to 'Back', latest_items_path %>
	</div>
</div>
