<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>

    <%= f.input :body, as: :summernote %>
    <div class="field">
	    <%= f.file_field :main_image %>
	    <%= image_tag @page.main_image.url(:thumb) %>
	  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <br />
<% end %>
