<h2><%= day %></h2>
<span class="date"><%= date %></span>

<div class="line"></div>
<p><%= entry %></p>

<div class="key">
	<p><span class="bold-gold">MOON</span><br />
	<%= moon %></p>
	<p><span class="bold-gold">THEME</span><br /><%= theme %></p>
	<h4 class="bold-gold">NUMEROLOGY VIBRATION</h4>
	<p class="number"><span><%= Number.find(number_1).number.to_s + ': ' if number_1.present? %></span>
	 <%= Number.find(number_1).meaning if number_1.present? %> 
	</p>	
	<p class="number"><span><%= Number.find(number_2).number.to_s + ': ' if number_2.present? %></span>
	 <%= Number.find(number_2).meaning if number_2.present? %> 
	</p>	
	<p class="number"><span><%= Number.find(number_3).number.to_s + ': ' if number_3.present? %></span>
	 <%= Number.find(number_3).meaning if number_3.present? %> 
	</p>	
</div>

<div class="affirmation">
	<%= image_tag("AN_Logo.png", :border => 0, :alt => "Aquarius Nation") %>
	<h4 class="bold-gold">#MOONVIBETRIBE</h4>
	<div class="line"></div>
	<h5 class="bold-gold text-uppercase"><%= day %> AFFIRMATION</h5>
	<span class="bold-gold text-uppercase"><%= date %></span>
	
	<%= affirmation %>
	<%= image_tag("symbol.png", :class => 'symbol', :alt => "Aquarius Nation") %>
</div>