<%= image_tag @issue.main_image.url(:display) %>


<div id="guide_navigation">
  Welcome Monday Tuesday Wednesday Thursday Friday Saturday Sunday
</div>

<% @issue.sidebars.each do |item| %>
	<% if item.link.blank? %>
		<%= link_to item.title, moonvibeguide_reading_path(item.podcast_link_id) %>
	<% else %>
		<%= link_to item.title, item.link %>
	<% end %>
<% end %>


<main>
  <p><%= @issue.issue_number %></p>
	<p><%= @issue.week %></p>
	<p></p>
	<p><%= @issue.moon_phase %></p>
	<p><%= @issue.welcome %></p>
	<p>Monday</p>
	<% if !@issue.monday.nil? %>
		<p><%= @issue.monday.date %></p>
		<p><%= @issue.monday.entry %></p>
		<p><%= @issue.monday.affirmation %></p>
		<p><%= @issue.monday.moon_sign %></p>
	<% end %>



	<p><%= @issue.issue_number %></p>
	<p><%= @issue.week %></p>
	<p></p>
	<p><%= @issue.moon_phase %></p>
	<p><%= @issue.welcome %></p>
	<p>Monday</p>
	<% if !@issue.monday.nil? %>
		<p><%= @issue.monday.date %></p>
		<p><%= @issue.monday.entry %></p>
		<p><%= @issue.monday.affirmation %></p>
		<p><%= @issue.monday.moon_sign %></p>
	<% end %>


	<p><%= @issue.issue_number %></p>
	<p><%= @issue.week %></p>
	<p></p>
	<p><%= @issue.moon_phase %></p>
	<p><%= @issue.welcome %></p>
	<p>Monday</p>
	<% if !@issue.monday.nil? %>
		<p><%= @issue.monday.date %></p>
		<p><%= @issue.monday.entry %></p>
		<p><%= @issue.monday.affirmation %></p>
		<p><%= @issue.monday.moon_sign %></p>
	<% end %>


	<p><%= @issue.issue_number %></p>
	<p><%= @issue.week %></p>
	<p></p>
	<p><%= @issue.moon_phase %></p>
	<p><%= @issue.welcome %></p>
	<p>Monday</p>
	<% if !@issue.monday.nil? %>
		<p><%= @issue.monday.date %></p>
		<p><%= @issue.monday.entry %></p>
		<p><%= @issue.monday.affirmation %></p>
		<p><%= @issue.monday.moon_sign %></p>
	<% end %>

	<% @issue.sidebars.each do |item| %>
		<%= link_to item.title, item.link %>
	<% end %>

	<p><%= @issue.issue_number %></p>
	<p><%= @issue.week %></p>
	<p></p>
	<p><%= @issue.moon_phase %></p>
	<p><%= @issue.welcome %></p>
	<p>Monday</p>
	<% if !@issue.monday.nil? %>
		<p><%= @issue.monday.date %></p>
		<p><%= @issue.monday.entry %></p>
		<p><%= @issue.monday.affirmation %></p>
		<p><%= @issue.monday.moon_sign %></p>
	<% end %>

	<% @issue.sidebars.each do |item| %>
		<%= link_to item.title, item.link %>
	<% end %>

	<p><%= @issue.issue_number %></p>
	<p><%= @issue.week %></p>
	<p></p>
	<p><%= @issue.moon_phase %></p>
	<p><%= @issue.welcome %></p>
	<p>Monday</p>
	<% if !@issue.monday.nil? %>
		<p><%= @issue.monday.date %></p>
		<p><%= @issue.monday.entry %></p>
		<p><%= @issue.monday.affirmation %></p>
		<p><%= @issue.monday.moon_sign %></p>
	<% end %>

	<% @issue.sidebars.each do |item| %>
		<%= link_to item.title, item.link %>
	<% end %>
</main>
  



