<p><%= @issue.issue_number %></p>
<p><%= @issue.week %></p>
<p><%= @issue.main_image %></p>
<p><%= @issue.moon_phase %></p>
<p><%= @issue.welcome %></p>
<p>Monday</p>
<% if !@issue.monday.nil? %>
	<p><%= @issue.monday.date %></p>
	<p><%= @issue.monday.entry %></p>
	<p><%= @issue.monday.affirmation %></p>
	<p><%= @issue.monday.moon_sign %></p>
<% end %>