<div class="col-xs-12 current_issue" style="background-image: url('<%= @current.main_image.url %>');">
	<div class="container">
		<div class="col-xs-12">
			<p class="bold-gold">Current Issue</p>
			<span class="line"></span>
			<p>Issue <%= @current.issue_number %></p>
			<h3><%= @current.week %></h3>
			<%= link_to "Read Now", moonvibeguide_issue_path(@current), class: 'btn btn-gold' %>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-xs-12 col-sm-6">
		<p>PAST ISSUES</p>
		<% @past.each do |issue| %>
			<div class="row-fluid list_item">
				<div class="col-xs-12 col-sm-6 column">
					<%= link_to image_tag(issue.main_image.url(:thumb), :alt => issue.issue_number, :class => "issue-img"), moonvibeguide_issue_path(issue) %>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p>Issue <%= issue.issue_number %></p>
					<p><%= issue.week %></p>
					<% issue.sidebars.each do |item| %>
						<p><%= item.title %></p>
					<% end %>
					<%= link_to "Read Now", moonvibeguide_issue_path(issue), class: 'btn btn-gold' %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-xs-12 col-sm-6 column">
		<p>PODCASTS &amp; READINGS</p>
		<% @podcasts.each do |podcast| %>
			<div class="list_item">
				<%= link_to image_tag(podcast.main_image.url(:thumb), :alt => podcast.title, :class => "issue-img"), moonvibeguide_reading_path(podcast) %>
				<h3><%= podcast.title %></h3>
				<p><%= podcast.description %></p>
				<%= link_to "Read Now", moonvibeguide_reading_path(podcast), class: 'btn btn-gold' %>
			</div>
		<% end %>
	</div>
</div>