<div class="col-xs-12 current_issue">
	<div class="vert-center container">
		<div class="col-xs-12">
			<p class="current">Current Issue</p>
			<span class="line"></span>
			<p>Issue <%= @current.issue_number %></p>
			<h1><%= @current.week %></h1>
			<p class="includes">
			<% @current.sidebars.limit(3).each do |item| %>
				<%= item.title %><br />
			<% end %>
			</p>
			<%= link_to "Read Now", moonvibeguide_issue_path(@current), class: 'btn btn-pink' %>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="container issues">
		<div class="col-xs-12 col-md-6">
			<p class="bold">PAST ISSUES</p>
			<% @past.each do |issue| %>
				<div class="row list_item">
				  <div class="col-xs-12 col-sm-8 col-md-6 img-holder">
				    <%= link_to image_tag(issue.main_image.url(:thumb), :alt => issue.issue_number, :class => "issue-img"), moonvibeguide_issue_path(issue) %>
				  </div>
				  <div class="col-xs-12 col-sm-4 col-md-6 info">
				    <p class="issue_no">ISSUE <%= issue.issue_number %></p>
						<span class="line"></span>
						<h3><%= issue.week %></h3>
						<p class="includes">
							<% issue.sidebars.each do |item| %>
								<%= item.title %><br />
							<% end %>
						</p>
						<%= link_to "Read Now", moonvibeguide_issue_path(issue), class: 'btn btn-pink' %>
				  </div>
				</div>
			<% end %>
		</div>

		<hr class="hidden-md hidden-lg col-xs-12">

		<div class="col-xs-12 col-md-6">
			<p class="bold">PODCASTS &amp; READINGS</p>
			<% @podcasts.each do |podcast| %>
				<div class="row list_item">
					<div class="col-xs-12 col-sm-8 col-md-6 img-holder">
						<%= link_to image_tag(podcast.main_image.url(:thumb), :alt => podcast.title, :class => "issue-img"), moonvibeguide_reading_path(podcast) %>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-6 info">
						<h3><%= podcast.title %></h3>
						<% if podcast.podcast_details.count == 1 %>
							<%= link_to "Read Now", podcast.podcast_details.find(1).link, class: 'btn btn-pink', target: '_blank' %>
						<% else %>
							<%= link_to "Read Now", moonvibeguide_reading_path(podcast), class: 'btn btn-pink' %>
						<% end %>
						
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>