<div class="col-xs-12 current_issue right-align" style="background-color: #ECCFE1;">
	<div class="vert-center container">
		<div class="col-xs-12">
			<div class="pull-right">
				<h4>MOON VIBE GUIDE</h4>
				<p class="bold-gold">Issue <%= @issue.issue_number %></p>
				<h1><%= @issue.week %></h1>
			</div>
		</div>
	</div>
</div>

<div class="container" id="scroll-window">
	<!-- Nav tabs -->
  
	<nav id="guide_navigation" class="navbar navbar-default visible-xs" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="col-xs-12 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <span class="visible-xs">
		                <% @issue.sidebars.each do |item| %>
											<% if item.link.blank? %>
												<li><%= link_to item.title, moonvibeguide_reading_path(item.podcast_link_id) %></li>
											<% else %>
												<li><%= link_to item.title, item.link, target: '_blank' %></li>
											<% end %>
										<% end %>
									</span>
	            </ul>
	        </div>
	    </div>
	</nav>
	<ul class="nav nav-tabs responsive-tabs" role="tablist">
  	<li role="presentation" class="active"><a href="#welcome-day" aria-controls="welcome-day" role="tab" data-toggle="tab">Welcome</a></li>
    <li role="presentation"><a href="#monday-day" aria-controls="monday-day" role="tab" data-toggle="tab">Monday</a></li>
    <li role="presentation"><a href="#tuesday-day" aria-controls="tuesday-day" role="tab" data-toggle="tab">Tuesday</a></li>
    <li role="presentation"><a href="#wednesday-day" aria-controls="wednesday-day" role="tab" data-toggle="tab">Wednesday</a></li>
    <li role="presentation"><a href="#thursday-day" aria-controls="settings" role="tab" data-toggle="tab">Thursday</a></li>
    <li role="presentation"><a href="#friday-day" aria-controls="settings" role="tab" data-toggle="tab">Friday</a></li>
    <li role="presentation"><a href="#saturday-day" aria-controls="settings" role="tab" data-toggle="tab">Saturday</a></li>
    <li role="presentation"><a href="#sunday-day" aria-controls="settings" role="tab" data-toggle="tab">Sunday</a></li>
  </ul>

	<div id="sidebar" class="visible-sm visible-md visible-lg col-sm-3 col-md-2 col-xl-1 pull-left">
		<% @issue.sidebars.each do |item| %>
			
			<% if item.link.blank? %>
					<%= link_to moonvibeguide_reading_path(item.podcast_link_id), class: 'moon-btn pull-left' do %>
						<span><%= item.title %></span>
					<% end %>
			<% else %>
				<%= link_to item.link, target: '_blank', class: 'moon-btn pull-left' do %>
					<span><%= item.title %></span>
				<% end %>
			<% end %>

		<% end %>
	</div>
		


	<div class="tab-content col-xs-12 col-sm-9 col-md-10 col-xl-11 pull-right days">
	  <div class="tab-pane active collapse in" id="welcome-day">
	    <h1>Hello my loves!</h1>
	    <div class="line"></div>
			<p><%= @issue.welcome.html_safe %></p>
	  </div>

	  <div class="tab-pane" id="monday-day">
	    <h2>Monday</h2>
			<% if !@issue.monday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.monday.date %></p>
				<div class="line"></div>
				<p><%= @issue.monday.entry.html_safe %></p>
				<p><%= @issue.monday.affirmation.html_safe %></p>
				<p><%= @issue.monday.moon_sign %></p>
				<p><%= @issue.monday.theme %></p>
				<p><%= @issue.monday.number_1 %></p>
				<p><%= @issue.monday.number_2 %></p>
				<p><%= @issue.monday.number_3 %></p>
			<% end %>
	  </div>

	  <div class="tab-pane" id="tuesday-day">
	    <h2>Tuesday</h2>
			<% if !@issue.tuesday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.tuesday.date %></p>
				<div class="line"></div>
				<p><%= @issue.tuesday.entry.html_safe %></p>
				<p><%= @issue.tuesday.affirmation.html_safe %></p>
				<p><%= @issue.tuesday.moon_sign %></p>
				<p><%= @issue.monday.theme %></p>
				<p><%= @issue.monday.number_1 %></p>
				<p><%= @issue.monday.number_2 %></p>
				<p><%= @issue.monday.number_3 %></p>
			<% end %>
	  </div>

	  <div class="tab-pane" id="wednesday-day">
	    <h2>Wednesday</h2>
			<% if !@issue.wednesday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.wednesday.date %></p>
				<div class="line"></div>
				<p><%= @issue.wednesday.entry.html_safe %></p>
				<p><%= @issue.wednesday.affirmation.html_safe %></p>
				<p><%= @issue.wednesday.moon_sign %></p>
				<p><%= @issue.wednesday.theme %></p>
				<p><%= @issue.wednesday.number_1 %></p>
				<p><%= @issue.wednesday.number_2 %></p>
				<p><%= @issue.wednesday.number_3 %></p>
			<% end %>
	  </div>

	  <div class="tab-pane" id="thursday-day">
	    <h2>Thursday</h2>
			<% if !@issue.thursday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.thursday.date %></p>
				<div class="line"></div>
				<p><%= @issue.thursday.entry.html_safe %></p>
				<p><%= @issue.thursday.affirmation.html_safe %></p>
				<p><%= @issue.thursday.moon_sign %></p>
				<p><%= @issue.thursday.theme %></p>
				<p><%= @issue.thursday.number_1 %></p>
				<p><%= @issue.thursday.number_2 %></p>
				<p><%= @issue.thursday.number_3 %></p>
			<% end %>
	  </div>

	  <div class="tab-pane" id="friday-day">
	    <h2>Friday</h2>
			<% if !@issue.friday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.friday.date %></p>
				<div class="line"></div>
				<p><%= @issue.friday.entry.html_safe %></p>
				<p><%= @issue.friday.affirmation.html_safe %></p>
				<p><%= @issue.friday.moon_sign %></p>
				<p><%= @issue.friday.theme %></p>
				<p><%= @issue.friday.number_1 %></p>
				<p><%= @issue.friday.number_2 %></p>
				<p><%= @issue.friday.number_3 %></p>
			<% end %>
	  </div>

	  <div class="tab-pane" id="saturday-day">
	    <h2>Saturday</h2>
			<% if !@issue.saturday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.saturday.date %></p>
				<div class="line"></div>
				<p><%= @issue.saturday.entry.html_safe %></p>
				<p><%= @issue.saturday.affirmation.html_safe %></p>
				<p><%= @issue.saturday.moon_sign %></p>
				<p><%= @issue.saturday.theme %></p>
				<p><%= @issue.saturday.number_1 %></p>
				<p><%= @issue.saturday.number_2 %></p>
				<p><%= @issue.saturday.number_3 %></p>
			<% end %>
	  </div>

	  <div class="tab-pane" id="sunday-day">
	    <h2>Sunday</h2>
			<% if !@issue.sunday.nil? %>
				<p class="bold-gold text-uppercase"><%= @issue.sunday.date %></p>
				<div class="line"></div>
				<p><%= @issue.sunday.entry.html_safe %></p>
				<p><%= @issue.sunday.affirmation.html_safe %></p>
				<p><%= @issue.sunday.moon_sign %></p>
				<p><%= @issue.sunday.theme %></p>
				<p><%= @issue.sunday.number_1 %></p>
				<p><%= @issue.sunday.number_2 %></p>
				<p><%= @issue.sunday.number_3 %></p>
			<% end %>
	  </div>
	</div>

</div>
  



