<div class="row">
  <h3 class="text-center">CONTACT</h3>
  <div class="text-center" style="padding: 20px 0;">
  
  </div>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal contact-form' } do |f| %>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :name, :required => true, :placeholder => 'NAME', :class => 'form-control' %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :email, :required => true, :placeholder => 'EMAIL', :class => 'form-control' %>
    </div>
    <div class="col-xs-12">
      <%= f.input :message, :as => :text, :required => true, :placeholder => 'MESSAGE', :class => 'form-control', :input_html => { :rows => 15 } %>
    </div>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <p>&nbsp;</p>
    <div class="text-center">
      <%= f.button :submit, 'SEND', :class=> "btn btn-default an-btn" %>
    </div>
  <% end %>
</div>