<div class="container">
  <div class="row">
    <h1>Listing Newsbar</h1>

    <%= link_to 'New Newsbar', new_newsbar_path, class: 'btn btn-default' %>

    <table class="table">
      <thead>
        <tr>
          <th>Message</th>
          <th>Show</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @newsbars.each do |newsbar| %>
          <tr>
            <td><%= newsbar.message.html_safe %></td>
            <td><%= newsbar.show %></td>
            <td><%= link_to 'Edit', edit_newsbar_path(newsbar) %></td>
            <td><%= link_to 'Delete', newsbar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


