<%= form_for(@sunday) do |f| %>
  <% if @sunday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sunday.errors.count, "error") %> prohibited this sunday from being saved:</h2>

      <ul>
      <% @sunday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_id %><br>
    <%= f.number_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :entry %><br>
    <%= f.text_area :entry %>
  </div>
  <div class="field">
    <%= f.label :affirmation %><br>
    <%= f.text_area :affirmation %>
  </div>
  <div class="field">
    <%= f.label :moon_sign %><br>
    <%= f.text_field :moon_sign %>
  </div>
  <div class="field">
    <%= f.label :theme %><br>
    <%= f.text_field :theme %>
  </div>
  <div class="field">
    <%= f.label :number_1 %><br>
    <%= f.number_field :number_1 %>
  </div>
  <div class="field">
    <%= f.label :number_2 %><br>
    <%= f.number_field :number_2 %>
  </div>
  <div class="field">
    <%= f.label :number_3 %><br>
    <%= f.number_field :number_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
