<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @sunday.issue_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sunday.date %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @sunday.entry %>
</p>

<p>
  <strong>Affirmation:</strong>
  <%= @sunday.affirmation %>
</p>

<p>
  <strong>Moon sign:</strong>
  <%= @sunday.moon_sign %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @sunday.theme %>
</p>

<p>
  <strong>Number 1:</strong>
  <%= @sunday.number_1 %>
</p>

<p>
  <strong>Number 2:</strong>
  <%= @sunday.number_2 %>
</p>

<p>
  <strong>Number 3:</strong>
  <%= @sunday.number_3 %>
</p>

<%= link_to 'Edit', edit_sunday_path(@sunday) %> |
<%= link_to 'Back', sundays_path %>
