<div class="container">
  <div class="row">

    <h1>Listing Media</h1>

    <%= link_to 'New Medium', new_medium_path, class: 'btn btn-default' %>


    <table class="table">
      <thead>
        <tr>
          <th>File</th>
          <th>Link</th>
          <th>Title</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @media.each do |medium| %>
          <tr>
            <td><%= image_tag(medium.file.url(:thumb)) %></td>
            <td><%= image_path(medium.file.url) %></td>
            <td><%= medium.title %></td>

            <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
            <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

