<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= "http://www.moonvibeguide.com" + image_path(@medium.file.url) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @medium.title %>
</p>

<p>
  <strong>File:</strong>
  <%= image_tag(@medium.file.url(:thumb)) %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
