<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @medium.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @medium.title %>
</p>

<p>
  <strong>File:</strong>
  <%= @medium.file %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
