<div class="container">
	<div class="daily text-center">
	  <div class="col-xs-12 post-listing">
	  	<div class="row">
	  		<h4><%= @post.publish_date.strftime('%-d-%m-%Y') %></h4>
	      <h2><%= @post.short_title if @post.short_title.present? %></h2>
	      <div class="thumbnail">
	        <%= link_to image_tag(@post.main_image.url(:thumb), :alt => @post.title, :class => "issue-img"), post_path(@post) if @post.main_image.present? %>
	      </div>
	    	
	    	<h3><%= @post.title %></h3>

				<%= image_tag('daily_readings_symbol.png', width: 100, style: 'padding-bottom: 30px;') %>


				<div class="entry text-left">
					<%= @post.body.html_safe %>
					<p class="text-center">		
						<%= link_to post_like_path(:post_id => @post.id,
    :id => @post.id), class: 'post-like', method: :put, remote: true, data: { type: :json }, turbolinks: true do %>
						 <svg height="0" width="0" class="heart purple">
					    	<defs>
						      <linearGradient id="post-gradient" x1="0" x2="0" y1="0" y2="1">
						        <stop class="stop1" offset="0%"/>
						        <stop class="stop2" offset="20%"/>
						        <stop class="stop3" offset="40%"/>
						        <stop class="stop4" offset="60%"/>
						        <stop class="stop5" offset="80%"/>
						        <stop class="stop6" offset="100%"/>
						      </linearGradient>
						     
						  	</defs>
								<path id="heart-icon-<%= @post.id %>" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
								    C30,20.335,16,28.261,16,28.261z" fill="url(#post-gradient)"/>    

				    	</svg>
				    <% end %>
						<span id="post-likes" class="badge"><%= @post.likes %></span>
					</p>
				</div>
				<hr class="col-xs-12" />
				<div class="share-this">
					
          <a href="http://www.facebook.com/sharer/sharer.php?u=<%=  URI.parse(request.base_url + request.original_fullpath) %>&title=<%= URI::escape(@post.title) %>" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="count"><%= @facebook_count %></span>
          </a>
         
          <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%= @post.main_image.url %>&url=<%=  URI.parse(request.base_url + request.original_fullpath) %>&is_video=false&description=<%= URI::escape(@post.title) %>" target="_blank">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              <span class="count"><%= @pinterest_count %></span>
          </a>
          
          <a href="https://plus.google.com/share?url=<%=  URI.parse(request.base_url + request.original_fullpath) %>" target="_blank">
             <i class="fa fa-google-plus" aria-hidden="true"></i>
             <span class="count"><%= @google_count %></span>
          </a>

          <a href="http://www.tumblr.com/share?v=3&u=<%=  URI.parse(request.base_url + request.original_fullpath) %>&t=<%= URI::escape(@post.title) %>" target="_blank">
              <i class="fa fa-tumblr" aria-hidden="true"></i>
          </a>
          <a href="http://twitter.com/intent/tweet?status=<%= URI::escape(@post.title) %>+<%=  URI.parse(request.base_url + request.original_fullpath) %>" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="mailto:?body=<%=  URI.parse(request.base_url + request.original_fullpath) %>" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <h2><%= @sum.to_s + ' shares' %></h2>
				</div> 
				
			</div>
		</div>
	</div>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>

