<div class="container">
	<div class="daily text-center">
	  <div class="col-xs-12 post-listing">
	  	<div class="row">
	  		<h4><%= @post.publish_date.strftime('%-d-%m-%Y') %></h4>
	      <h3><%= @post.title %></h3>
	      <div class="thumbnail">
	        <%= link_to image_tag(@post.main_image.url(:thumb), :alt => @post.title, :class => "issue-img"), post_path(@post) if @post.main_image.present? %>
	      </div>
	    	
				<%= image_tag('daily_readings_symbol.png', width: 100, style: 'padding-bottom: 30px;') %>


				<div class="entry text-left">
					<%= @post.body.html_safe %>
				</div>
				<hr class="col-xs-12" />
				<div class="share-this">
					<div class="addthis_inline_share_toolbox"></div>
				</div> 
				
			</div>
		</div>
	</div>
</div>

