<p id="notice"><%= notice %></p>

<%# image_tag @post.main_image.url(:display) %>
<h1><%= @post.title %></h1>
<p class="small"><%= @post.publish_date.strftime('%A, %B %-d, %Y %l:%M') %></p>
<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<%= @post.body.html_safe %>

<h2>Comments</h2>

<% @post.comments.each do |c| %>
  <p>
    <b><%= c.link.present? ? link_to(c.author, c.link) : c.author %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %>
    ago
  </p>

  <p>
    <%= c.body %>
  </p>
  <p><%= link_to 'reply', new_comment_path(c.id) %></p>
<% end %>

<%= form_for [@post, @post.comments.new] do |f| %>
  <% if @post.comments.new.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(@post.errors.count, "error") %>.</h4>
      <ul>
        <%= @post.comments.new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :parent_id %>
  <%= f.label :author, "Author" %><br />
  <%= f.text_field :author, class: 'form-control' %><br />
  <%= f.label :link, "Link (optional)" %><br />
  <%= f.text_field :link, class: 'form-control' %><br />
  <%= f.label :body %>
  <%= f.text_area :body, rows: 1, class: 'form-control', placeholder: "Enter comment body" %>
  <div class="actions">
    <%= f.submit "Submit Comment", class: 'btn btn-default' %>
  </div>
<% end %>
