<div class="container-fluid cropped_header">
  <%= image_tag('cropped_header.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
</div>

<div class="page container">
    <div class="col-xs-12">
      <%= form_tag(blog_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search" %>
      <% end %>

      <% if @posts.present? %>

        <%= render 'posts' %>

      <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      <% end %>


     
      
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p class="pull-right"><%= link_to "^ Back To Top".html_safe, blog_path, class: 'btn btn-default' %></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>