<div class="container-fluid cropped_header">
  <%= image_tag('cropped_header.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
</div>

<div class="page container">
    <div class="col-xs-12">
      <% @posts.each do |post| %>

        <div class="row">
          <div class="col-xs-12 text-center post-listing">
            <h4><%= link_to post.publish_date.strftime('%-d-%m-%Y'), post_path(post) %></h4>
            <h2><%= link_to post.short_title, post_path(post) if post.short_title.present? %></h2>
            <div class="thumbnail">
              <%= link_to image_tag(post.main_image.url(:thumb), :alt => post.title, :class => "issue-img"), post_path(post) if post.main_image.present? %>
            </div>
            <h3><%= link_to post.title, post_path(post) %></h3>

            <%= link_to image_tag('daily_readings_symbol.png', width: 100, style: 'padding-bottom: 20px;', :alt => post.title), post_path(post) %>
            <p><%= link_to "Read Post", post_path(post), class: 'read-post' %></p>
            <div class=" share-comments">
              <p class="pull-left"><%= post.comments.count %> comments</p>
              <div class="pull-right">

                <div data-network="facebook" class="st_sharethis_custom st_facebook_custom"><span class="count"></span><i class="fa fa-facebook" aria-hidden="true"></i></div>

                <div data-network="twitter" class="st_sharethis_custom st_twitter_custom"><span class="count"></span><i class="fa fa-twitter" aria-hidden="true"></i></div>

                <div data-network="pinterest" class="st_sharethis_custom st_pinterest_custom"><span class="count"></span><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>

                <div data-network="tumblr" class="st_sharethis_custom st_tumblr_custom"><span class="count"></span><i class="fa fa-tumblr" aria-hidden="true"></i></div>

                <div data-network="googleplus" class="st_sharethis_custom st_googleplus_custom"><span class="count"></span><i class="fa fa-google-plus" aria-hidden="true"></i></div>

                <div data-network="email" class="st_sharethis_custom st_email_custom"><span class="count"></span><i class="fa fa-envelope" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </div>
      
      <% end %>
      
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p class="pull-right"><%= link_to "^ Back To Top".html_safe, blog_path, class: 'btn btn-default' %></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>