<div class="container-fluid cropped_header">
  <%= image_tag('cropped_header.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
</div>

<div class="page container issues">
    <div class="col-xs-12">
      <% @posts.each do |post| %>
        <% if post.main_image.present? %>
          <div class="row list_item">
            <div class="col-xs-4 img-holder">
              <%= link_to image_tag(post.main_image.url(:thumb), :alt => post.title, :class => "issue-img"), post_path(post) %>
            </div>
            <div class="col-xs-8 info">
              <p class="issue_no"><%= post.publish_date.strftime('%A, %B %-d, %Y') %></p>
              <span class="line"></span>
              <h3><%= post.title %></h3>
              <p class="includes">
                <%= strip_tags(post.body).truncate_words(44) %>
              </p>
              <%= link_to "Read Now", post_path(post), class: 'btn btn-pink' %>
            </div>
          </div>
        <% else %>
          <div class="row list_item">
            <div class="col-xs-12 info">
              <p class="issue_no"><%= post.publish_date.strftime('%A, %B %-d, %Y') %></p>
              <span class="line"></span>
              <h3><%= post.title %></h3>
              <p class="includes">
                <%= strip_tags(post.body).truncate_words(44) %>
              </p>
              <%= link_to "Read Now", post_path(post), class: 'btn btn-pink' %>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>