<div class="container">
  <h4 class="bold-gold text-center">Latest Items</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% latestitems.each do |latest_item| %>
        <tr>
          <td><%= latest_item.title %></td>
          <td><%= latest_item.link %></td>
          <td style="width: 100px; height: 100px; overflow: hidden;"><div class="thumbnail"><%= image_tag(latest_item.image.url(:thumb)) %></div>
</td>
          <td><%= link_to 'Edit', edit_latest_item_path(latest_item) %></td>
          <td><%= link_to 'Delete', latest_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="text-center">
    <%= link_to 'New Item', new_latest_item_path, class: 'btn btn-default' %>
    <%= link_to 'View All', latest_items_path, class: 'btn btn-success' %>
  </p>
</div>