<div class="container">
  <h4 class="bold-gold text-center">Current Video</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Video</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="width: 300px;">
          <div class="embed-responsive embed-responsive-4by3">
            <%= latestvideo.embed_code.html_safe %>
          </div>
        </td>
        <td><%= link_to 'Edit', edit_video_path(latestvideo) %></td>
        <td><%= link_to 'Delete', latestvideo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>

  <p class="text-center">
    <%= link_to 'New Video', new_video_path, class: 'btn btn-default' %>
    <%= link_to 'View All', videos_path, class: 'btn btn-success' %>
  </div>

</div>