<%= form_for @podcast, html: { multipart: true } do |f| %>
  <% if @podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% @podcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :main_image %><br>
    <%= f.file_field :main_image %>
    <%= image_tag @podcast.main_image.url(:thumb) %>
  </div>
  <div class="field">
    <%# f.label :description %><br>
    <%# f.text_area :description, cols: 80, rows: 8 %>
  </div>
  <table class="table">
    <%= f.label "Readings" %><br>
    <small>Enter all 12 for Astrology readings, or just one for a general reading.</small>
    <%= f.fields_for :podcast_details do |podcasts_form| %>
      <tr>
        <td>
          <%= podcasts_form.label "Title" %>
          <%= podcasts_form.text_field :title %>
        </td>

 
        <td>
          <%= podcasts_form.label "Podcast Link" %>
          <%= podcasts_form.text_field :link %>
        </td>

        <td>
          <%# podcasts_form.label "Image" %>
          <%# podcasts_form.file_field :image %>
        </td>
        <%# if podcasts_form.image.exists? %>
        <td>
          <%# image_tag podcasts_form.object.image.url(:thumb) if podcasts_form.object.image?  %>

        </td>
        <%# end %>
        <td>
          <%= podcasts_form.label "DELETE" %>
          <%= podcasts_form.check_box :_destroy%>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <%= podcasts_form.label "Text Entry" %><br />
          <%= podcasts_form.text_area :entry, cols: 88, rows: 8 %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="actions">
    <%= f.submit "Save", :class => 'btn btn-default'%>
  </div>
<% end %>
