<div class="purple-bg subscribe-footer">
	<div class="col-xs-12">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-4 col-sm-8 hidden-xs">
					<h4 class="text-center">SUBSCRIBE FOR LOVE AND<br />
					COSMIC UPDATES</h4>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="footer-links">
						<p><%= link_to 'DONATE', root_path %></p>
						<p><%= link_to 'CONTACT', root_path %></p>
						<p><%= link_to 'SHOP', "http://shopify.com" %></p>
						<p><%= link_to 'BLOG', blog_path %></p>
						<p><%= link_to 'FAQ', root_path %></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-offset-4 col-sm-8 visible-xs">
					<h4 class="text-center">SUBSCRIBE FOR LOVE AND
					COSMIC UPDATES</h4>
				</div>
				<div class="col-xs-12 col-sm-8">

				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup" class="text-center">
					<p>Receive the latest Aquarius Nation updates, cosmic channellings, products and offerings to your inbox!!!</p>
				<form action="//aquariusnation.us6.list-manage.com/subscribe/post?u=7a98342c1b2f29188092d44de&amp;id=b6efc69609" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				  <div id="mc_embed_signup_scroll">
				  	<div class="form-group">
							<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="ENTER EMAIL" required>
						</div>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a98342c1b2f29188092d44de_b6efc69609" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="CONNECT" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default an-btn"></div>
				  </div>
				</form>
				</div>

				<!--End mc_embed_signup-->
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 footer">
  <div class="container-fluid">
  	<div class="col-xs-12 text-center">
	    <p>Made with love &amp; healing <br />by</p>
	    <h4>THE AQUARIUS NATION TEAM</h4>
	    <p class="bottom">copyright Aquarius Nation <%= Time.now.year %>, all rights reserved</p>
	  </div>		
	</div>
</div>
