<nav class="navbar navbar-default col-xs-12">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("AN_Logo.png"), root_path, :class => 'navbar-brand logo' %>
    </div>


      <ul class="nav navbar-nav navbar-right">
        <% if member_signed_in? %>
          <li><%= link_to "Moon Vibe <small>Guide</small>".html_safe, moonvibeguide_issues_path, class: 'bold' %></li>
        <% else %>
          <li><%= link_to "Moon Vibe <small>Guide</small>".html_safe, moonvibeguide_path, class: 'bold' %></li>
        <% end %>

        <% if member_signed_in? && @issue.present? %>
          <li class="dropdown visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @issue.sidebars.each do |item| %>
                <% if item.link.blank? %>
                  <li><%= link_to item.title, moonvibeguide_reading_path(item.podcast_link_id) %></li>
                <% else %>
                  <li><%= link_to item.title, item.link, target: '_blank' %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <% end %>

        <% if admin_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "MVG Issues", issues_path %><li>
            <li><%= link_to "Readings", podcasts_path %><li>
            <li><%= link_to "Numerology", numbers_path %><li>
            <li><%= link_to "Media", media_path %><li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", destroy_admin_session_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>