<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
       <% if controller.controller_name == 'moon_vibe_guide' || 
             controller.controller_name == 'issues' && controller.action_name == 'show'
        %>
        <%= link_to "MOON VIBE GUIDE", moonvibeguide_issues_path, :class => 'navbar-brand mvg-logo' %>
      <% end %>
    </div>

    <div class="navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to image_tag("AN_Logo.png"), root_path, :class => 'logo text-center' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moon Vibe Tribe </a>
          <ul class="dropdown-menu">
            <li><%= link_to "MOON VIBE Guide", login_path %><li>
            <li><%= link_to "Daily Reading", moonvibeguide_daily_reading_path %><li>
            <li><%= link_to "About The Tribe", moonvibeguide_path %><li>
          </ul>
        </li>

        <% if controller.controller_name != 'moon_vibe_guide' %>

          <li><a href="#">About</a></li>
          <li><a href="#">Moon Planner</a></li>
          <li><a href="#">Shop</a></li>
          <li><%= link_to "Blog", blog_path %><li>

        <% end %>
      
        <% if member_signed_in? && @issue.present? && @issue.sidebars.present? %>
          <li class="dropdown visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @issue.sidebars.each do |item| %>
                <% if item.link.blank? %>
                  <li><%= link_to item.title, moonvibeguide_reading_path(item.podcast_link_id) %></li>
                <% else %>
                  <li><%= link_to item.title, item.link, target: '_blank' %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>

        
        <% if admin_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "MVG Issues", issues_path %><li>
              <li><%= link_to "Readings", podcasts_path %><li>
              <li><%= link_to "Numerology", numbers_path %><li>
              <li><%= link_to "Media", media_path %><li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Blog", posts_path %><li>
              <li><%= link_to "Home Page", newsbars_path %><li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_admin_session_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
          
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>