<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Aquarius Nation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'print', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- necessary for transactions through Send Owl-->
  <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

  <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="<%=  URI.parse(request.base_url + request.original_fullpath) %>" />
  
  <meta property="og:type"          content="Aquarius Nation" />
  <meta property="og:title"         content="Aquarius Nation" />
  <meta property="og:description"   content="Aquarius Nation. Forward Empowerment. High Vibe Style. Guidance and wisdom for the bringers of the New Earth ways." />
  <meta property="og:image"         content="assets/images/AN_Logo.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Aquarius Nation. Forward Empowerment. High Vibe Style. Guidance and wisdom for the bringers of the New Earth ways." />

  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="assets/imagesassets/images/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon-180x180.png" />

</head>
<body>
  <%= render 'layouts/topbar', locals: { newsbar: @newsbar } %>

  <%= render 'layouts/header' %>
  <div class="container-fluid"> 
    <%= yield %>
  </div>
  <%=  render 'layouts/footer' %> 

  


</body>
</html>
