<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AquariusNation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'print', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- necessary for transactions through Send Owl-->
  <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

  <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://www.aquariusnation.com/moonvibeguide" />
  <meta property="og:type"          content="Moon Vibe Guide" />
  <meta property="og:title"         content="Aquarius Nation" />
  <meta property="og:description"   content="Guidance and wisdom for the bringers of the New Earth ways." />
  <meta property="og:image"         content="http://www.aquariusnation.com/path/logo.jpg" />

</head>
<body>

  <%= render 'layouts/header' %>
  <div class="container"> 
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
